@font-face {
  font-family: "FiroGoBold";
  src: url("./fontsAsset/FiraGO-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "FiroGoBoldItalic";
  src: url("./fontsAsset/FiraGO-BoldItalic.ttf") format("ttf");
}

.bold-fa {
  font-family: "FiroGoBold";
}
