.text {
  border: "0 solid black";
  box-sizing: "border-box";
  color: "black";
  display: "inline";
  font-size: 14;
  margin: 0;
  padding: 0;
  white-space: "pre-wrap";
  word-wrap: "break-word";
}
.textMultiLine {
  display: "-webkit-box";
  max-width: "100%";
  overflow: "hidden";
  text-overflow: "ellipsis";
  // whiteSpace: "pre",
  -webkit-box-orient: "vertical";
}
.notSelectable {
  user-select: "none";
}
.selectable {
  user-select: "text";
}
