.hiddenInput {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  opacity: 0;
}
.Input {
  width: 16px;
  height: 16px;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: red;
    opacity: 1;
    border-radius: 1px;
  }
}
.Inputchecked {
  &::after {
    opacity: 1;
    background-color: green;
  }
}
.Indeterminate {
  &::after {
    width: 6px;
    height: 6px;
    background-color: blue;
  }
}
