@import "../../styles/color";

@keyframes ripple {
  to {
    opacity: 0;
    width: 30px;
    height: 30px;
  }
}

.ripple {
  transform: scale(0);
  width: 0px;
  height: 0px;
  background-color: $color-primary-1;
  animation: ripple 700ms;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  // opacity: 0.4;
  position: absolute;
  transform-origin: center;
  animation-direction: "forward";
  border-radius: 50%;
}
