@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?t9k3gw");
  src: url("fonts/icomoon.eot?t9k3gw#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?t9k3gw") format("truetype"),
    url("fonts/icomoon.woff?t9k3gw") format("woff"),
    url("fonts/icomoon.svg?t9k3gw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browse extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Abstract-Service-Graph_Hamburger-Menu:before {
  content: "\e900";
  color: #684a80;
}
.icon-Abstract-Service-Graph_Menu_Reverse-Icon:before {
  content: "\e901";
  color: #684a80;
}
.icon-Abstract-Service-Graph_Menu_Toggle-OFF .path1:before {
  content: "\e902";
  color: rgb(255, 136, 136);
}
.icon-Abstract-Service-Graph_Menu_Toggle-OFF .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Abstract-Service-Graph_Menu_Toggle-ON .path1:before {
  content: "\e904";
  color: rgb(73, 209, 225);
}
.icon-Abstract-Service-Graph_Menu_Toggle-ON .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Abstract-Service-Graph_Narrow-Rectangle-Icon:before {
  content: "\e906";
  color: #dbd1e2;
}
.icon-Abstract-Service-Graph_Plus-Icon-for-next-level:before {
  content: "\e907";
  color: #684a80;
}
.icon-Abstract-Service-Graph_Trapezius-Icon:before {
  content: "\e908";
  color: #dbd1e2;
}
.icon-Abstract-Service-Graph_Triangle-Icon:before {
  content: "\e909";
  color: #dbd1e2;
}
.icon-Abstract-Service-Graph_Wide-Rectangle-Icon:before {
  content: "\e90a";
  color: #dbd1e2;
}
.icon-Add-Box_Add-Icon:before {
  content: "\e90b";
  color: #684a80;
}
.icon-Amount-Boxes_Decrease:before {
  content: "\e90c";
  color: #fff;
}
.icon-Amount-Boxes_Increase:before {
  content: "\e90d";
  color: #fff;
}
.icon-BPM_Alert-Icon:before {
  content: "\e90e";
  color: #49d1e1;
}
.icon-BPM_Blue-Link:before {
  content: "\e90f";
  color: #49d1e1;
}
.icon-BPM_Export:before {
  content: "\e910";
  color: #684a80;
}
.icon-BPM_Import:before {
  content: "\e911";
  color: #684a80;
}
.icon-BPM_Purple-Link:before {
  content: "\e912";
  color: #684a80;
}
.icon-Create-Project_Alert-Icon:before {
  content: "\e913";
  color: #f88;
}
.icon-Create-Project_Checked-Icon:before {
  content: "\e914";
  color: #49d1e1;
}
.icon-Create-Project_Download-Icon:before {
  content: "\e915";
  color: #684a80;
}
.icon-Delete-Icon:before {
  content: "\e916";
  color: #f88;
}
.icon-Edit-Icon:before {
  content: "\e917";
  color: #684a80;
}
.icon-Every-Boxes_Cross-Icon:before {
  content: "\e918";
  color: #684a80;
}
.icon-Every-Boxes_Flesh-Icon-for-more-choices:before {
  content: "\e919";
  color: #684a80;
}
.icon-Map-Box_Flag-Icon .path1:before {
  content: "\e91a";
  color: rgb(255, 136, 136);
}
.icon-Map-Box_Flag-Icon .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 136, 136);
}
.icon-Map-Box_Flag-Icon .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Map-Box_Flag-Icon .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 136, 136);
}
.icon-Map-Box_Flag-Icon .path5:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Map-Box_Flag-Icon .path6:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 136, 136);
}
.icon-Map-Box_Flag-Icon .path7:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Map-Box_Flag-Icon .path8:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Map-Box_Flag-Icon .path9:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 136, 136);
}
.icon-Map-Box_Flag-Icon .path10:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 136, 136);
}
.icon-Map-Box_Flag-Icon_Hover .path1:before {
  content: "\e924";
  color: rgb(73, 209, 225);
}
.icon-Map-Box_Flag-Icon_Hover .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(73, 209, 225);
}
.icon-Map-Box_Flag-Icon_Hover .path3:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Map-Box_Flag-Icon_Hover .path4:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(73, 209, 225);
}
.icon-Map-Box_Flag-Icon_Hover .path5:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Map-Box_Flag-Icon_Hover .path6:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(73, 209, 225);
}
.icon-Map-Box_Flag-Icon_Hover .path7:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Map-Box_Flag-Icon_Hover .path8:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Map-Box_Flag-Icon_Hover .path9:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(73, 209, 225);
}
.icon-Map-Box_Flag-Icon_Hover .path10:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(127, 94, 152);
}
.icon-Map-Box_Node-Icon .path1:before {
  content: "\e92e";
  color: rgb(104, 74, 128);
}
.icon-Map-Box_Node-Icon .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(227, 230, 241);
}
.icon-Map-Box_Node-Icon .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(73, 209, 225);
}
.icon-Map-Box_Node-Icon_Hover .path1:before {
  content: "\e931";
  color: rgb(104, 74, 128);
}
.icon-Map-Box_Node-Icon_Hover .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(227, 230, 241);
}
.icon-Map-Box_Node-Icon_Hover .path3:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(73, 209, 225);
}
.icon-Menu-Icon-_-Create:before {
  content: "\e934";
  color: #fff;
}
.icon-Menu-Icon-_-Cross:before {
  content: "\e935";
}
.icon-Menu-Icon-_-Export:before {
  content: "\e936";
  color: #fff;
}
.icon-Menu-Icon-_-Import:before {
  content: "\e937";
  color: #fff;
}
.icon-Menu-Icon-_-Load:before {
  content: "\e938";
  color: #fff;
}
.icon-Menu-Icon-_-Save:before {
  content: "\e939";
  color: #fff;
}
.icon-Menu-Icon-_-Sina-Logo .path1:before {
  content: "\e93a";
  color: rgb(227, 171, 14);
}
.icon-Menu-Icon-_-Sina-Logo .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(178, 170, 184);
}
.icon-Menu-Icon-_-Sina-Logo .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(178, 170, 184);
}
.icon-Menu-Icon-_-Sina-Logo .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(12, 18, 65);
}
.icon-Menu-Icon-_-Sina-Logo .path5:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(178, 170, 184);
}
.icon-Menu-Icon-_-Sina-Logo .path6:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 213, 0);
}
.icon-Menu-Icon-_-Sina-Logo .path7:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(178, 170, 184);
}
.icon-Menu-Icon-_-Sina-Logo .path8:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(178, 170, 184);
}
.icon-Menu-Icon-_-Sina-Logo .path9:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(178, 170, 184);
}
.icon-Search-Box_Search-Icon:before {
  content: "\e943";
  color: #cab9d6;
}
.icon-Table_Cross-Icon-for-erasing-all-of-filters:before {
  content: "\e944";
  color: #ad92c2;
}
.icon-Table_Cross-Icon-for-erasing-each-filters:before {
  content: "\e945";
  color: #f88;
}
.icon-Table_Flesh-Icon-for-combo-boxes:before {
  content: "\e946";
  color: #ad92c2;
}
.icon-Table_Search-Icon:before {
  content: "\e947";
  color: #ad92c2;
}
.icon-Table_Separate-Line:before {
  content: "\e948";
  color: #ad92c2;
}
.icon-Table_Sort-Icon_A-to-Z:before {
  content: "\e949";
  color: #40ebff;
}
.icon-Table_Sort-Icon_OFF:before {
  content: "\e94a";
  color: #ad92c2;
}
.icon-Table_Sort-Icon_Z-to-A:before {
  content: "\e94b";
  color: #40ebff;
}
.icon-Title-Bar-Icon-_-Cross:before {
  content: "\e94c";
  color: #684a80;
}
.icon-Title-Bar-Icon-_-Log-Out:before {
  content: "\e94d";
  color: #684a80;
}
.icon-Title-Bar-Icon-_-Profile:before {
  content: "\e94e";
  color: #684a80;
}
.icon-Tree-View_Flesh-Icon-for-next-level:before {
  content: "\e94f";
  color: #fff;
}
.icon-Tree-View_Flesh-Icon-for-previous-level:before {
  content: "\e950";
  color: #fff;
}
