$primary-1: #573a6e;
$primary-2: #684a80;
$primary-3: #7f5e98;
$primary-4: #ad92c2;
$primary-5: #bfa8cf;
$primary-6: #cab9d6;
$primary-7: #dbd1e2;
$primary-8: #e6dfeb;
$secondary-1: #49d1e1;
$secondary-2: #40fff9;
$secondary-3: #beeafe;
$secondary-4: #40ebff;
$secondary-5: #dcfafe;
$red-1: #ff8888;
$red-2: #fbc9c9;
$red-3: #ff5d5d;
$border-color: #ebedf2;
$background-color: #eeeeee;
$grey-1: #ebedf2;
