$primary-1: #374775;
$primary-2: #6c7797;
$primary-3: #959db8;
$primary-4: #abb6d6;
$primary-5: #c2c9db;
$primary-6: #e3e6f1;
$primary-7: #ebedf2;

$secondary-1: #58cc87;
$secondary-2: #48e580;
$secondary-3: #e3f6eb;

$gray-6: #333333;
$gray-5: #606060;
$gray-4: #9f9f9f;
$gray-3: #c1c0c0;
$gray-2: #e9e9e9;
$background: #eeeeee;

$white: #ffffff;

$danger-1: #c65161;
$danger-2: #ebcbcf;
$danger-3: #ffe0ce;

$warning-1: #ffc917;
$warning-2: #fff0be;
$warning-3: #ff8946;
