.title-wrapper {
  display: flex;
  height: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: $color-primary-7;
  border-radius: 7px;
}

.title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
