.item {
  height: 27px;
  padding-inline-start: 23px;
  background-color: $color-white;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $color-primary-7;
  }
  &--selected {
    background-color: $color-primary-6;
  }
}
