.mask {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba($color-primary-1, 0.22);
  backdrop-filter: blur(5px);
}
.modal-container {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-white;
  border-radius: 20px;
  overflow: hidden;
  width: 500px;
  height: 300px;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 32px);
}

.centerd {
  top: 50%;
  transform: translate(-50%, -50%);
}
