@import "../../styles/color";

.button {
  min-width: 140px;
  border-radius: 7px;
  height: 40px;
  border: none;
  outline: none;
  &--primary {
    background-color: $color-primary-1;
    color: $color-white;
    &:hover {
      background-color: red;
      color: blue;
    }
    &:active {
      background-color: blue;
    }
  }
  &--secondary {
    background-color: $color-secondary-1;
    color: $color-white;
    &:hover {
      background-color: red;
    }
    &:active {
      background-color: yellow;
    }
  }
  cursor: pointer !important;
}
