.container {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 7px;
    height: pxToVh(7);
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-primary-7;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-primary-5;
    border-radius: 4px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-primary-4;
    cursor: pointer;
  }
}
